$base_background: #fff;
$base_text_color: rgba(50, 41, 41, 0.733);
$base_white_color: #fff;
$base_link_color: #b62023;
$base_hover_color: #d4af37;
$base_font_size: 16px;
$extra_font_size: 15px;
$base_font_family: "Dosis",Roboto;
$base_font2_family: 'Oswald';
$base_font3_family: 'Merienda';
$base_width: 1170px;
$base_form_placeholder: rgba(12, 140, 31, 0.5);

